<div class="row">
    <div class="col col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Teste
            </div>
            <div class="panel-body">
                <button title="Alterar Arquivo" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#dialogArquivos">
                    Abrir
                </button>
                <button title="Promessa" type="button" class="btn btn-primary" (click)="testePromessa()">
                    Promessa
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogArquivos" tabindex="-1" role="dialog" redimensionar="-25" aria-labelledby="dialogArquivosTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Selecionar Arquivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 500px;">
                <app-arquivos [ancestral]="eu">Carregando...</app-arquivos>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>